//  Colors
//  ------

//  Style variables. Probably best to use these where applicable.
$body-bgcolor:          #FFFFFF;
$copy-color:            rgba(0, 0, 0, 0.8);
$header-color:          rgba(0, 0, 0, 0.9);
$link-color:            #28488F;
$link-hover-color:      lighten($link-color, 10%);
