/**
 *  Colors (_colors.scss)
 *
 *  Colors used in your project should be specified here. By default, we just specify
 *  what we really need in the start of our project (body, text, headers and links).
 */

$body-bgcolor:          #FFF;
$copy-color:            #333;
$header-color:          #111;
$link-color:            #24C;
$link-hover-color:      lighten($link-color, 10%);
