//  Containers
//  ----------

//  Container widths for grid elements
$container-xs:    96%;
$container-s:     420px;
$container-m:     640px;
$container-l:     720px;
$container-xl:    800px;
$container-xxl:   960px;
