//  Margin and padding values
//  -------------------------

$padding:     $base-font-size;
$padding-lg:  ($base-font-size * 2);
$padding-sm:  ($base-font-size / 2);

$margin:      $base-line-height;
$margin-lg:   ($base-line-height * 2);
$margin-sm:   ($base-line-height / 2);
