//  Screens
//  -------

//  Screen widths for breakpoint calculation
$screen-xs-min:   1px;
$screen-xs-max:   320px;

$screen-s-min:    321px;
$screen-s-max:    480px;

$screen-m-min:    481px;
$screen-m-max:    768px;

$screen-l-min:    769px;
$screen-l-max:    1024px;

$screen-xl-min:   1025px;
$screen-xl-max:   1280px;

$screen-xxl-min:  1281px;
$screen-xxl-max:  9999px;
