//  =========
//  FUNCTIONS
//  =========

//  Calculates the specified number to the specified power.
//  @param $num The base number
//  @param $pow The power
//  @return The result of the mathematical operation
@function pow($num, $pow) {
  $val: 1;

  @if ($pow >= 2) {
    @for $i from 1 through $pow {
      $val: $val * $num;
    }
    @return $val;
  }

  @else {
    @return $num;
  }
}
