//  =========
//  VARIABLES
//  =========


//  AMCSS setup
$amcss-prefix: 'am-';



//  Screens and containers
//  ----------------------

//  Screen widths for breakpoint calculation
$screen-xs-min:   1px;
$screen-xs-max:   320px;

$screen-s-min:    321px;
$screen-s-max:    480px;

$screen-m-min:    481px;
$screen-m-max:    768px;

$screen-l-min:    769px;
$screen-l-max:    1024px;

$screen-xl-min:   1025px;
$screen-xl-max:   1280px;

$screen-xxl-min:  1281px;
$screen-xxl-max:  9999px;


//  Container widths for grid elements
$container-xs:    96%;
$container-s:     420px;
$container-m:     640px;
$container-l:     720px;
$container-xl:    800px;
$container-xxl:   960px;



//  Typography
//  ----------

//  Font stacks
//  $base-font-family: The font stack set as default.
$serif-font:        serif;
$sans-font:         sans-serif;
$base-font:         $sans-font;

//  Root font sizes
//  Used for better font scaling across devices. Set in the HTML element for text scaling using rems.
$root-font-size:    1.25em;
$root-font-size-m:  1.125em;
$root-font-size-s:  1em;

//  Basic typographic variables
//  $base-scale-factor: Used in the scale() mixin for consistent font size rhythm.
$base-font-size:          1rem;
$base-line-height-factor: 1.5;
$base-scale-factor:       1.618;
$base-line-height:        ($base-font-size * $base-line-height-factor);



//  Colors
//  ------

//  Grayscale colors, arranged from white -> black
$color-white:           #E6F0F2;
$color-lighter-gray:    #B8C8CC;
$color-light-gray:      #95A3A6;
$color-gray:            #737D80;
$color-dark-gray:       #505859;
$color-darker-gray:     #2E3233;
$color-black:           #0B0D0D;

//  Colors, arranged in ROYGBIV fashion
$color-red:             #DA162D;
$color-orange:          #DA6016;
$color-yellow:          #F7EC36;
$color-green:           #48D93D;
$color-teal:            #28D582;
$color-blue:            #0051CA;
$color-indigo:          #842AF3;
$color-violet:          #A000C2;
$color-pink:            #EE51D6;

//  Style variables. Probably best to use these where applicable.
$body-bgcolor:          $color-white;
$copy-color:            rgba($color-darker-gray, .75);
$header-color:          rgba($color-darker-gray, .90);
$link-color:            $color-blue;
$link-hover-color:      $color-teal;



//  Grid system configuration
//  -------------------------

//  $columns: The number of columns in the grid
//  $gutter: The gutter width (any kind of unit is accepted, though percentages work out the best)
//  $grid-type: 'flex' if you want a flexbox grid, 'float' if you want a traditional float-based grid
//  $grid-namespace: The namespace used for the grid when generating grid classes
//  $verbose-grid: true if grid classes should be generated in the compiled CSS, false if not

$columns:         12;
$gutter:          1.2%;
$grid-type:       'flex';
$grid-namespace:  'Grid';
$verbose-grid:    true;



//  Margin and padding values
//  -------------------------

$padding:     $base-font-size;
$padding-lg:  ($base-font-size * 2);
$padding-sm:  ($base-font-size / 2);

$margin:      $base-line-height;
$margin-lg:   ($base-line-height * 2);
$margin-sm:   ($base-line-height / 2);
